<!-- templates/registration/login.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
        <div class="text-center mb-4">

            <h3>Iniciar Sesión</h3>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        </form>
    </div>
</div>
{% endblock %}
